@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #536942;
    --secondary: #ffd936;
    --white: #efefef;
}

body {
    color: var(--primary);
    font-family: "DM Sans", sans-serif;
}

#main {
    background-image: url(./img/main.png);
    min-height: 80vh;
    background-position: bottom center;
    background-size: cover;
    color: var(--white);
}

.container {
    max-width: 1200px;
    padding: 30px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.btn {
    border: none;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary {
    border: 2px solid var(--white);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--primary);
}

#main .main-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.main-content h2 {
    font-size: 40px;
}

.main-content h1 {
    font-size: 90px;
    margin-top: -20px;
}

.main-content p {
    font-size: 16px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.menu-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    display: none;
}

#service-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#service-title h1 {
    font-size: 40px;
}

.line {
    background-color: #ffd936;
    height: 4px;
    width: 80px;
}

#service-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

.content img {
    border-radius: 5px;
    transition: transform 0.4 ease;
}

.content img:hover {
    transform: scale(1.01);
}

.content p {
    width: 300px;
    margin-top: 5px;
}

.content h2 {
    margin-top: 5px;
}

#quote .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
}

#quote .container h1 {
    width: 450px;
}

#qoute-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.about-content {
    width: 350px;
}

.about-content h1 {
    margin-top: 5px;
}

.about-content p {
    margin: 20px 0;
}

#question .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-position: bottom center;
    background-size: cover;
    background-image: url(./img/main-2.png);
    min-height: 500px;
}

#question .container h1{
    font-size: 50px;
}
#question .container p{
    font-size: 16px;
    width: 400px;
    text-align: center;
}
.footer-link li a{
    color: var(--primary);
}

.footer-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer{
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

@media screen and (max-width : 520px) {

    .nav-list {
        flex-direction: column;
        background-color: gray;
        position: absolute;
        right: -900px;
        top: 0;
        width: 50%;
        height: 70vh;
        padding-top: 50px;
        transition: all 0.3s ease;
    }

    .nav-list li:not(:last-child) {
        text-align: left;
        width: 100%;
        padding: 10px 20px;
        border-bottom: 2px solid var(--white);
    }

    .menu-btn {
        display: block;
    }

    .nav-list.active {
        right: 0;

    }
    footer{
        flex-direction: column;
        gap: 15px;
    }
}